<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../template/head', {title:"Contact"}); %>

    <!--style-->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
    </style>
    <link rel="stylesheet" type="text/css" href="./style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
</head>

<body>
    <div class="body-content">
        <div class="opposite container">
            <div class="center">
                Contact
            </div>
        </div>
        <div class="container">
            <div class="center">
                Jeuk Hwang ( PositivePeriod )<br>
                Learner, developer and designer<br>
                Student who wants to make and share the value
            </div>
        </div>
        <div class="container">
            <div class="flex-align">
                <a href="matilto:positiveperiod.dev@gmail.com">
                    positiveperiod.dev@gmail.com
                </a>
                <a href="https://github.com/PositivePeriod/" target="newwindow">
                    <i class="fab fa-github-alt icon"></i>
                </a>
                <a href="https://www.youtube.com/channel/UCn6ssmT6qXpiEKDJUyrD_gg" target="newwindow">
                    <i class="fab fa-youtube icon"></i>
                </a>
            </div>
        </div>
        <div id="survey" class="container">
            <div id="survey-text">User Survey</div>
            <iframe id="survey-frame" src="https://docs.google.com/forms/d/e/1FAIpQLScN9E-Lsv6CrEshxd5Qh4hm3biCMngdtYWFHgA9CHAZwPinHg/viewform?embedded=true" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
        </div>
        <div class="big container">
            <div class="center">
                School : <a href="https://ksa.hs.kr/">KSA 19</a><br>
                Interest : develop, design, write
            </div>
        </div>
        <div class="opposite container">
            <div class="center">
                <a class="opposite-a" href="/">Return to main</a>
            </div>
        </div>
    </div>
</body>

</html>