<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome-1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="title" content="Make It Shorter" />
    <meta name="author" content="Jeuk Hwang">
    <meta name="description" content="Web game about compressing data using JavaScript">
    <title>Make It Shorter</title>

    <!--style-->
    <link rel="stylesheet" type="text/css" href="style.css">

</head>

<body>
    <h1>About</h1>
    <br>
    <h2>Big data ⇌ Small data + Time + Knowledge</h2>
    <h3>1. Find the pattern in data Ex) Special number, sequence</h3>
    <h3>2. Write JavaScript code that can shorten data</h3>
    <h3>3. Return the same data</h3>
    <br>
    <h3>Contact: <a href="mailto:jeukhwang@gmail.com">jeukhwang@gmail.com</a></h3>
</body>

</html>