<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome-1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="title" content="Make It Shorter" />
    <meta name="author" content="Jeuk Hwang">
    <meta name="description" content="Web game about compressing data using JavaScript">
    <title>Make It Shorter</title>

    <!--style-->
    <link rel="stylesheet" type="text/css" href="style.css">

</head>

<body>
    <h1>Make It Shorter</h1>
    <br>
    <p id="dataElem" class="large">Data:</p>
    <p class="large">Code:</p>
    <p id="stage" class="large">function stage() {</p>
    <textarea id="code" value="" placeholder="Write your code"></textarea>
    <p class="large">return data }</p>
    <p id="codeOutput" class="large">Code result:</p>
    <br>
    <p id="dataLen" class="large">Data Length:</p>
    <p id="codeLen" class="large">Code Length:</p>
    <p id="state" class="large">State:</p>
    <button id="previous" class="btn">Previous</button>
    <button id="check" class="btn">Check</button>
    <button id="next" class="btn">Next</button>
    <button id="sampleCode" class="btn">Sample Code</button>
    <p><a href="./version.html" class="large">v1.1</a> <a href="./about.html" class="large">About</a></p>
    <script type="module" type="text/javascript" src="src/app.js"></script>
</body>

</html>