<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome-1" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="title" content="BUNDLE" />
    <meta name="author" content="Jeuk Hwang">
    <meta name="description" content="Turn-based strategy game">
    <title>BUNDLE</title>

    <!--style-->
    <link rel="stylesheet" type="text/css" href="style.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-180233572-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-180233572-1');
    </script>
</head>

<body>
    <h1>BUNDLE <a href="./rule.html">Rule</a> <a href="https://open.kakao.com/o/gjQWrAEd">Join community</a></h1>
    <label><input type="checkbox" id="turnAlert" checked>Alert for new turn</label>
    <label><input type="checkbox" id="uniqueAlert" checked>Alert for unique selection</label>
    <h3 id="turn">Turn :</h3>
    <h3 id="status">Status :</h3>
    <script type="module" type="text/javascript" src="src/app.js"></script>
</body>

</html>