<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome-1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="title" content="AutoForce" />
    <meta name="author" content="Jeuk Hwang">
    <meta name="description" content="Force your opponent to move and reach their base to win">
    <title>AutoForce</title>

    <!--style-->
    <link rel="stylesheet" type="text/css" href="style.css">

</head>

<body>
    <h1>AutoForce <a href="./rule.html">Rule</a></h1>
    <label><input type="checkbox" id="turnAlert" checked>Alert for new turn</label>
    <label><input type="checkbox" id="uniqueAlert" checked>Alert for unique selection</label>
    <h3 id="turn">Turn :</h3>
    <h3 id="status">Status :</h3>
    <script type="module" type="text/javascript" src="src/app.js"></script>
</body>

</html>