<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome-1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="title" content="AutoForce" />
    <meta name="author" content="Jeuk Hwang">
    <meta name="description" content="Force your opponent to move and reach their base to win">
    <title>AutoForce</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');

        * {
            font-family: 'Noto Sans KR', sans-serif;
        }

        a {
            color: black;
        }
    </style>
</head>

<body>
    <a href=".">Return to game</a>
    <article>
        <h1>AutoForce 규칙</h1>
        <h3>두 명의 참가자는 각각 5개의 말을 가지고 시작합니다</h3>
        <h3>각각의 말은 도착 칸이 비어있다면 왼쪽, 오른쪽, 앞으로 한 칸 움직일 수 있습니다</h3>
        <h3>뭉치란 상하좌우로 연결된 말의 집합을 의미합니다</h3>
        <br>
        <h3>자신의 차례가 오면, 참가자는 반드시 두 가지 행동을 해야 합니다</h3>
        <h3>1. 상대가 사전에 고른 뭉치에서 하나의 말을 움직여주세요</h3>
        <h3>뭉치의 모든 말을 움직일 수 없는 경우 해당 뭉치를 고립되었다고 부릅니다</h3>
        <h3>고립된 뭉치의 모든 말은 사라져 사용할 수 없으며 기존에 말이 있었던 칸은 빈 칸으로 바뀝니다</h3>
        <h3>뭉치가 고립되어 사라진 참가자는 같은 차례에 자신의 남은 말 중 원하는 것을 선택하여 움직여야 합니다</h3>
        <h3>2. 상대의 뭉치 중 하나를 골라 상대의 다음 차례에 사용될 뭉치를 정하세요</h3>
        <br>
        <h3>기지란 놀이가 시작할 때 자신의 말이 놓여져 있는 자리의 집합(가로줄)을 의미합니다</h3>
        <h3>상대의 모든 말을 사라지게 하거나 상대의 기지에 자신의 말을 하나라도 도착하게 만들면 참가자는 승리합니다</h3>
    </article>
    <article>
        <h1>AutoForce Rule</h1>
        <h3>Two players each start with 5 pieces</h3>
        <h3>Each piece can move one space to the left, right, and front if the arrival space is empty</h3>
        <h3>A Bundle means a set of pieces connected up, down, left and right.</h3>
        <br>
        <h3>When it's your turn, you must take two actions</h3>
        <h3>1. Move one pieces from the bundle chosen by your opponent in the previous turn</h3>
        <h3>If all the pieces in the bundle are immobile, it's called isolated</h3>
        <h3>All pieces of the isolated bundle replaced with empty squares and cannot be used</h3>
        <h3>In the same turn, players who have lost any piece must move one of the remaining their pieces as they want
        </h3>
        <h3>2. Choose one of your opponent's bundles to determine which one to use in the next turn</h3>
        <br>
        <h3>A base means the set of places(horizontal lines) where your piece are placed at the beginning</h3>
        <h3>You wins if the opponent lose all pieces or at least one of your pieces arrives at the opponent's base</h3>
    </article>
    <h4>Edited 21-10-09 v1.0</h4>
</body>

</html>