<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome-1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="title" content="Make It Shorter" />
    <meta name="author" content="Jeuk Hwang">
    <meta name="description" content="Web game about compressing data using JavaScript">
    <title>Make It Shorter</title>

    <!--style-->
    <link rel="stylesheet" type="text/css" href="style.css">

</head>

<body>
    <h1>About</h1>
    <h3>Data, especially which has pattern, can be exchangeable with time by appropriate prior knowledge and skills.</h3>
    <h3>Find the patterns and compress the data</h3>
    <br>
    <h3><a href="mailto:jeukhwang@gmail.com">jeukhwang@gmail.com</a></h3>
</body>

</html>