<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../template/head', {title:"Contact"}); %>

    <!--style-->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
    </style>
    <link rel="stylesheet" type="text/css" href="./style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
</head>

<body>
    <div class="body-content">
        <div class="opposite container">
            <div class="center">
                KSA Labyrinth : UNDER THE KSA
            </div>
        </div>
        <div class="container">
            <div class="center">
                Develop labyrinth for school online festival; SAF 2021
            </div>
        </div>
        <div class="container">
            <div class="center">
                Some example of famous labyrinth<br>
                <a href="https://en.wikipedia.org/wiki/Cicada_3301"> Cicada 3301 </a> / 
                <a href="http://www.levelgame.net/"> Never Ending Level Game </a> /
                <a href="http://www.lomando.com/"> Fancy Island </a> / 
                <a href="http://www.deathball.net/notpron/"> Notpron </a>
            </div>
        </div>
        <div class="container">
            <div class="center">
                Use NodeJS, ExpressJS, SocketIO<br>
                Deploy the project into Heroku<br>
                Collaborate using Github and Visual Studio Code; especially Live Share extension
            </div>
        </div>
        <div class="opposite container">
            <div class="center">
                <a class="opposite-a" href="/">Return to main</a>
            </div>
        </div>
    </div>
</body>

</html>